[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCIntRuler"]
	path = SCIntRuler
	url = https://github.com/yuelyu21/scintruler
